<section class="blog-cards">
    {% for post in blog_posts %}
    <article class="blog-card">
        <div class="blog-card__content">
            <div class="blog-card__text">
                <h2 class="blog-card__title">{{ post.title }}</h2>
                <div class="blog-card__meta">
                    <span class="blog-card__date">{{ post.date|date:"d M Y" }}</span>
                    <span class="blog-card__author">{{ post.author }}</span>
                </div>
                <p class="blog-card__description">{{ post.snippet }}</p>
                <a href="{% url 'blog_detail' post.slug %}" class="blog-card__link">Citește mai mult</a>
            </div>
        </div>
    </article>
    {% endfor %}
</section>