{% load i18n %}
<div class="contact-container">
  <section class="contact" id="contact-section">
    <!-- Contact Content -->
    <div class="contact__content">
      <h2 class="contact__title">{% trans "Programează-te" %}</h2>
      <p class="contact__description">
        {% trans "Pentru a stabili o primă întâlnire gratuită pe care o vom folosi pentru a vedea dacă putem lucra împreună te rog să folosești formularul din dreapta." %}
        {% trans "Dacă întâmpini vreo eroare sau nu găsești ora dorită, te rog să mă contactezi la adresa de email:" %}
        <a href="mailto:raileanu.francesca@gmail.com">raileanu.francesca@gmail.com</a>
        {% trans "sau pe WhatsApp la" %}
        <a href="https://wa.me/40742461189" target="_blank">+40 742 461 189</a>
      </p>
    </div>

    <!-- Contact Form -->
    <form class="contact-form" id="contactForm" method="POST">
      {% csrf_token %}

      <!-- Error Message -->
      <div class="error-message hidden">
        <div class="error-message-content">
          <h3>{% trans "Eroare" %}</h3>
          <p></p>
        </div>
      </div>

      <!-- Success Message -->
      <div class="success-message hidden">
        <div class="success-message-content">
          <h3>{% trans "Cerere trimisă cu succes!" %}</h3>
          <p>{% trans "Vă mulțumim pentru programare" %}</p>
        </div>
      </div>

      <!-- Loading Indicator -->
      <div class="loader-container">
        <div class="loader"></div>
      </div>

      <!-- Initial Form Content -->
      <div class="form-content">
        <div class="form-group">
          <input
            class="form-input"
            type="text"
            id="firstName"
            name="firstName"
            placeholder="{% trans 'Prenume' %}"
            required
            aria-label="{% trans 'Prenume' %}"
            oninvalid="this.setCustomValidity('{% trans 'Vă rugăm să completați acest câmp' %}')"
            oninput="this.setCustomValidity('')"
          />
        </div>

        <div class="form-group">
          <input
            class="form-input"
            type="text"
            id="lastName"
            name="lastName"
            placeholder="{% trans 'Nume' %}"
            required
            aria-label="{% trans 'Nume' %}"
            oninvalid="this.setCustomValidity('{% trans 'Vă rugăm să completați acest câmp' %}')"
            oninput="this.setCustomValidity('')"
          />
        </div>

        <div class="form-group">
          <input
            class="form-input"
            type="email"
            id="email"
            name="email"
            placeholder="{% trans 'Email' %}"
            required
            aria-label="{% trans 'Email' %}"
            oninvalid="this.setCustomValidity('{% trans 'Vă rugăm să introduceți o adresă de email validă' %}')"
            oninput="this.setCustomValidity('')"
        
          />
        </div>

        <div class="form-group">
          <select 
          class="form-input form-select" 
          id="interest" 
          name="interest" 
          required 
          aria-label="{% trans 'Interes' %}"
          oninvalid="this.setCustomValidity('{% trans 'Vă rugăm să selectați o opțiune' %}')"
          oninput="this.setCustomValidity('')"
        >
            <option value="" disabled selected>{% trans "Ce te-ar interesa?" %}</option>
            <option value="Terapie Individuală">{% trans "Terapie Individuală" %}</option>
            <option value="Evaluări Clinice">{% trans "Evaluări Clinice" %}</option>
            <option value="Consiliere Vocațională">{% trans "Consiliere Vocațională" %}</option>
            <option value="Consiliere Educațională">{% trans "Consiliere Educațională" %}</option>
            <option value="Dezvoltare Personală">{% trans "Dezvoltare Personală" %}</option>
          </select>
        </div>

        <div class="form-group">
          <textarea
            class="form-input form-textarea"
            id="message"
            name="message"
            placeholder="{% trans 'Mesajul tău' %}"
            required
            aria-label="{% trans 'Mesaj' %}"
            rows="4"
            oninvalid="this.setCustomValidity('{% trans 'Vă rugăm să completați acest câmp' %}')"
            oninput="this.setCustomValidity('')"
        
          ></textarea>
        </div>

        <button type="submit" class="form-submit initial-submit">{% trans "Continuă" %}</button>
      </div>

      <!-- Time Slot Selection -->
      <div class="time-slot-selection hidden">
        <h3>{% trans "Selectează ora programării" %}</h3>
        <div class="day-navigation">
          <div class="navigation-container">
            <button type="button" id="prev-day">
              <i class="fas fa-chevron-left"></i>
              {% trans "Ziua anterioară" %}
            </button>
            <div class="date-container">
              <span class="current-date"></span>
            </div>
            <button type="button" id="next-day">
              {% trans "Ziua următoare" %}
              <i class="fas fa-chevron-right"></i>
            </button>
          </div>
        </div>

        <div id="time-slots" class="time-slots-grid"></div>
        <button type="submit" class="form-submit confirm-time-slot" disabled>
          {% trans "Confirmă programarea" %}
        </button>
      </div>
    </form>
  </section>
</div>
