{% load static %}
<div class = "expandable-cards-container">
<section class="expandable-cards">
    <div class="expandable-grid">
        <!-- Card 1 -->
        <div class="expandable-item">
            <div class="expandable-background" style="background-image: url('{% static 'images/card1.jpg' %}')"></div>
            <div class="expandable-overlay"></div>
            <div class="expandable-content">
                <h2 class="expandable-title">Fundatia Calea Victoriei</h2>
                <p class="expandable-description">Descriere despre colaborarea cu Fundația Calea Victoriei și proiectele dezvoltate împreună.</p>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="expandable-item">
            <div class="expandable-background" style="background-image: url('{% static 'images/card2.jpg' %}')"></div>
            <div class="expandable-overlay"></div>
            <div class="expandable-content">
                <h2 class="expandable-title">Universitatea Hyperion</h2>
                <p class="expandable-description">Descriere despre colaborarea cu Fundația Calea Victoriei și proiectele dezvoltate împreună.</p>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="expandable-item">
            <div class="expandable-background" style="background-image: url('{% static 'images/card3.jpg' %}')"></div>
            <div class="expandable-overlay"></div>
            <div class="expandable-content">
                <h2 class="expandable-title">Upgrade Education</h2>
                <p class="expandable-description">Descriere despre Upgrade Education</p>
            </div>
        </div>

        <!-- Card 4 -->
        <div class="expandable-item">
            <div class="expandable-background" style="background-image: url('{% static 'images/card4.jpg' %}')"></div>
            <div class="expandable-overlay"></div>
            <div class="expandable-content">
                <h2 class="expandable-title">EU Touch Project</h2>
                <p class="expandable-description">Descriere despre doctorat EU Touch Project</p>
            </div>
        </div>
    </div>
</section>
<section class="expandable-cards">
    <div class="expandable-grid">
        <!-- Card 5 -->
        <div class="expandable-item">
            <div class="expandable-background" style="background-image: url('{% static 'images/card5.jpg' %}')"></div>
            <div class="expandable-overlay"></div>
            <div class="expandable-content">
                <h2 class="expandable-title">Dridu Daruieste Zambete</h2>
                <p class="expandable-description">Descriere despre Dridu Daruieste Zambete</p>
            </div>
        </div>

        <!-- Card 6 -->
        <div class="expandable-item">
            <div class="expandable-background" style="background-image: url('{% static 'images/card6.jpg' %}')"></div>
            <div class="expandable-overlay"></div>
            <div class="expandable-content">
                <h2 class="expandable-title">Teatrul Labirint</h2>
                <p class="expandable-description">Descriere despre teatrul labirint</p>
            </div>
        </div>

        <!-- Card 7 -->
        <div class="expandable-item">
            <div class="expandable-background" style="background-image: url('{% static 'images/card7.jpg' %}')"></div>
            <div class="expandable-overlay"></div>
            <div class="expandable-content">
                <h2 class="expandable-title">Dor de Doina</h2>
                <p class="expandable-description">Descriere despre proiectul dor de doina</p>
            </div>
        </div>

        <!-- Card 8  -->
        <div class="expandable-item">
            <div class="expandable-background" style="background-image: url('{% static 'images/card8.jpg' %}')"></div>
            <div class="expandable-overlay"></div>
            <div class="expandable-content">
                <h2 class="expandable-title">Terre des Hommes</h2>
                <p class="expandable-description">Descriere despre seminare in resilienta, Terre des Hommes</p>
            </div>
        </div>
    </div>
</section>
<section class="expandable-cards">
    <div class="expandable-grid">
        <!-- Card 9 -->
        <div class="expandable-item">
            <div class="expandable-background" style="background-image: url('{% static 'images/card9.jpg' %}')"></div>
            <div class="expandable-overlay"></div>
            <div class="expandable-content">
                <h2 class="expandable-title">Agentia Impreuna</h2>
                <p class="expandable-description">Descriere despre consiliere in agentia impreuna</p>
            </div>
        </div>

        <!-- Card 10 -->
        <div class="expandable-item">
            <div class="expandable-background" style="background-image: url('{% static 'images/card10.jpg' %}')"></div>
            <div class="expandable-overlay"></div>
            <div class="expandable-content">
                <h2 class="expandable-title">Caring Universities</h2>
                <p class="expandable-description">Descriere despre mental health coaching in Caring Universities</p>
            </div>
        </div>

        <!-- Card 11 -->
        <div class="expandable-item">
            <div class="expandable-background" style="background-image: url('{% static 'images/card11.jpg' %}')"></div>
            <div class="expandable-overlay"></div>
            <div class="expandable-content">
                <h2 class="expandable-title">Zerophobia</h2>
                <p class="expandable-description">Descriere despre zerophobia</p>
            </div>
        </div>

        <!-- Card 12 -->
        <div class="expandable-item">
            <div class="expandable-background" style="background-image: url('{% static 'images/card12.jpg' %}')"></div>
            <div class="expandable-overlay"></div>
            <div class="expandable-content">
                <h2 class="expandable-title">Cercetare</h2>
                <p class="expandable-description">Descriere despre cercetare</p>
            </div>
        </div>
    </div>
</section>
</div>

