{% load static %}
<section class="expandable-cards">
    <div class="cards-grid">
        <!-- Card 1 -->
        <a href="#" class="card">
            <div class="card__background" style="background-image: url('{% static 'images/card1.jpg' %}')"></div>
            <div class="card__overlay"></div>
            <div class="card__content">
                <h2 class="card__title">Fundatia Calea Victoriei</h2>
                <p class="card__description">Longer description that will be shown when the card is expanded. This content will initially be hidden.</p>
            </div>
        </a>

        <!-- Card 2 -->
        <a href="#" class="card">
            <div class="card__background" style="background-image: url('{% static 'images/card2.jpg' %}')"></div>
            <div class="card__overlay"></div>
            <div class="card__content">
                <h2 class="card__title">Universitatea Hyperion</h2>
                <p class="card__description">Longer description that will be shown when the card is expanded. This content will initially be hidden.</p>
            </div>
        </a>

        <!-- Card 3 -->
        <a href="#" class="card">
            <div class="card__background" style="background-image: url('{% static 'images/card3.jpg' %}')"></div>
            <div class="card__overlay"></div>
            <div class="card__content">
                <h2 class="card__title">Consiliere Upgrade</h2>
                <p class="card__description">Longer description that will be shown when the card is expanded. This content will initially be hidden.</p>
            </div>
        </a>

        <!-- Card 4 -->
        <a href="#" class="card">
            <div class="card__background" style="background-image: url('{% static 'images/card4.jpg' %}')"></div>
            <div class="card__overlay"></div>
            <div class="card__content">
                <h2 class="card__title">EU Touch Project</h2>
                <p class="card__description">Longer description that will be shown when the card is expanded. This content will initially be hidden.</p>
            </div>
        </a>
    </div>
</section>
