{% load static %} {% load i18n %}
<div class="expandable-cards-container">
  <section class="expandable-cards">
    <div class="expandable-grid">
      <!-- Card 1 -->
      <div class="expandable-item">
        <div class="expandable-background" style="background-image: url('{% static 'images/small/card1.webp' %}')"></div>
        <div class="expandable-overlay"></div>
        <div class="expandable-content">
          <h2 class="expandable-title">{% trans "Educația mea" %}</h2>
          <p class="expandable-description">
            {% trans "• Universitatea Tufts (Boston, SUA) - Licență în Psihologie Clinică<br>• Universitatea Vrije (Amsterdam, Olanda) - Master în Cercetare Clinică și Psihopatologia Dezvoltării<br>• Asociatia de Terapii Cognitiv Comportamentale si Programe de Reabilitare (București, România) - Formare în Psihoterapie Cognitiv Comportamentală Individuală și de Grup<br>• Universitatea Autonomă Barcelona (Barcelona, Spania) - Doctorat în Psihologie Clinică" %}
          </p>
        </div>
      </div>
            <!-- Card 12 -->
            <div class="expandable-item">
              <div class="expandable-background" style="background-image: url('{% static 'images/small/card12.webp' %}')"></div>
              <div class="expandable-overlay"></div>
              <div class="expandable-content">
                <h2 class="expandable-title">{% trans "De ce am devenit terapeut" %}</h2>
                <p class="expandable-description">
                  {% trans "Am studiat psihologie pentru că mi se păreau fascinante toate fenomenele care ne definesc. Apoi, m-am îndrăgostit de psihologia clinică pentru că mi se părea cea mai logică dintre subdomeniile psihologiei; mereu am descris-o drept matematică aplicată pe oameni. Am ales să devin terapeut pentru că mi se pare un privilegiu să fii prezent într-unul dintre cele mai importante, dar și vulnerabile momente ale unei persoane. În continuare îmi doresc să contribui și mai mult la acest domeniu, acționând ca o legătură între cercetare și practică" %}
                </p>
              </div>
            </div>

      <!-- Card 2 -->
      <div class="expandable-item">
        <div class="expandable-background" style="background-image: url('{% static 'images/small/card2.webp' %}')"></div>
        <div class="expandable-overlay"></div>
        <div class="expandable-content">
          <h2 class="expandable-title">{% trans "Cercetare" %}</h2>
          <p class="expandable-description">
            {% trans "• Laboratorul Emoție, Creier și Comportament (Universitatea Tufts) - Am studiat relația între emoții și comportamente impulsive<br>• Laboratorul de Cogniție Aplicată Tufts - Am studiat interacțiunea dintre sarcinile cognitive și mișcarea corpului<br>• Centrul de Medicină a Adicției - Am investigat consumul de marijuana medicinală și efectul asupra sănătății participanților<br>• Laboratorul ZeroPhobia - Am investigat eficacitatea terapiei prin expunere virtuală asupra oamenilor cu fobii<br>• Laboratorul Riper - Am investigat ce unelte care folosesc inteligență artificială există și care este eficacitatea lor" %}
          </p>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="expandable-item">
        <div class="expandable-background" style="background-image: url('{% static 'images/small/card3.webp' %}')"></div>
        <div class="expandable-overlay"></div>
        <div class="expandable-content">
          <h2 class="expandable-title">{% trans "Fundația Calea Victoriei" %}</h2>
          <p class="expandable-description">
            {% trans "Colaborez cu 'Fundația Calea Victoriei' unde țin prelegeri și ateliere despre psihologie și sănătate mintală. Acest parteneriat îmi oferă oportunitatea de a împărtăși cunoștințele personale și de a ajuta alții să înțeleagă mai bine complexitățile comportamentului uman. Îmi place să contribui la dezvoltarea continuă a celor prezenți, oferindu-le uneltele necesare pentru a-și gestiona mai eficient stresul și emoțiile" %}
          </p>
        </div>
      </div>


    </div>
  </section>
  <section class="expandable-cards">
    <div class="expandable-grid">
      <!-- Card 5 -->
      <div class="expandable-item">
        <div class="expandable-background" style="background-image: url('{% static 'images/small/card5.webp' %}')"></div>
        <div class="expandable-overlay"></div>
        <div class="expandable-content">
          <h2 class="expandable-title">{% trans "Upgrade Education" %}</h2>
          <p class="expandable-description">
            {% trans "Am fost responsabilă pentru conducerea dezvoltării conținutului, monitorizarea feedback-ului, implementarea soluțiilor, identificarea nevoilor părților interesate, crearea de noi produse, îmbunătățirea programelor educaționale, angajarea și gestionarea membrilor echipei. Acest rol mi-a permis să coordonez și să optimizez procesele, asigurându-mă că obiectivele educaționale sunt atinse eficient, în timp ce am susținut dezvoltarea profesională a echipei mele" %}
          </p>
        </div>
      </div>

      <!-- Card 6 -->
      <div class="expandable-item">
        <div class="expandable-background" style="background-image: url('{% static 'images/small/card6.webp' %}')"></div>
        <div class="expandable-overlay"></div>
        <div class="expandable-content">
          <h2 class="expandable-title">{% trans "Doctorat Marie Curie" %}</h2>
          <p class="expandable-description">
            {% trans "Am primit o bursă specială europeană pentru a cerceta cum putem să avansăm metodele noastre de investigație astfel încât să putem capta cu o acuratețe mai mare individualitatea experienței oamenilor cu probleme mintale, fie că este vorba de psihoză sau depresie. Proiectul meu folosește principii preluate din ideologia Citizen Science și metode de investigație precum Ecological Momentary Assessment pentru a ajunge la rezultatele dorite, iar în curând voi investiga și reacția terapeuților, dar și a clienților când vine vorba despre introducerea inteligenței artificiale în cadrul terapiei" %}
          </p>
        </div>
      </div>

      <!-- Card 7 -->
      <div class="expandable-item">
        <div class="expandable-background" style="background-image: url('{% static 'images/small/card7.webp' %}')"></div>
        <div class="expandable-overlay"></div>
        <div class="expandable-content">
          <h2 class="expandable-title">{% trans "Dridu Dăruiește Zâmbete" %}</h2>
          <p class="expandable-description">
            {% trans "Am proiectat un program de intervenție pentru elevii de gimnaziu dintr-o școală locală din Dridu. În fiecare lună, am organizat clase de dezvoltare personală cu studenții, unde ne-am concentrat pe dezvoltarea socio-emoțională, discriminare, bullying și alte subiecte relevante. Aceste sesiuni mi-au permis să contribui activ la creșterea și formarea lor ca indivizi conștienți și responsabili în societate" %}
          </p>
        </div>
      </div>

      <!-- Card 8 -->
      <div class="expandable-item">
        <div class="expandable-background" style="background-image: url('{% static 'images/small/card8.webp' %}')"></div>
        <div class="expandable-overlay"></div>
        <div class="expandable-content">
          <h2 class="expandable-title">{% trans "Aspire Teachers" %}</h2>
          <p class="expandable-description">
            {% trans "Am coordonat două proiecte educaționale și am ajutat profesori de matematică din România să dezvolte resurse gata de folosit care să-i ajute pe elevi să facă legătura dintre matematică și viața de zi cu zi. În cadrul rolului meu am făcut și un studiu de impact pentru a măsura efectul intervenției noastre" %}
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="expandable-cards">
    <div class="expandable-grid">
      <!-- Card 9 -->
      <div class="expandable-item">
        <div class="expandable-background" style="background-image: url('{% static 'images/small/card9.webp' %}')"></div>
        <div class="expandable-overlay"></div>
        <div class="expandable-content">
          <h2 class="expandable-title">{% trans "Terre des Hommes" %}</h2>
          <p class="expandable-description">
            {% trans "Am colaborat cu organizația Terre des Hommes pentru a facilita o serie de seminarii destinate refugiaților ucraineni, concentrându-ne pe dezvoltarea rezilienței, procesarea experiențelor traumatice și îmbunătățirea sănătății mintale. Aceste ateliere au oferit un spațiu sigur și susținător, unde participanții au putut învăța tehnici de coping și au discutat despre importanța îngrijirii emoționale în contextul provocărilor pe care le întâmpină. Prin această inițiativă, am urmărit să contribuim la integrarea și adaptarea lor mai bună în comunitate, oferind suport și resurse adaptate nevoilor lor specifice" %}
          </p>
        </div>
      </div>

      <!-- Card 10 -->
      <div class="expandable-item">
        <div class="expandable-background" style="background-image: url('{% static 'images/small/card10.webp' %}')"></div>
        <div class="expandable-overlay"></div>
        <div class="expandable-content">
          <h2 class="expandable-title">{% trans "Agenția Împreună" %}</h2>
          <p class="expandable-description">
            {% trans "Am oferit sesiuni de consiliere pentru elevii de gimnaziu din grupuri vulnerabile, în cadrul unui proiect inițiat de Agenția Împreună. Această activitate a fost concepută pentru a sprijini tinerii în depășirea dificultăților personale și educaționale, promovând dezvoltarea lor emoțională și socială. Prin aceste întâlniri, am încercat să oferim un mediu înțelegător și adaptat nevoilor lor, contribuind astfel la consolidarea încrederii în sine și la îmbunătățirea performanței școlare a participanților" %}
          </p>
        </div>
      </div>

      <!-- Card 11 -->
      <div class="expandable-item">
        <div class="expandable-background" style="background-image: url('{% static 'images/small/card11.webp' %}')"></div>
        <div class="expandable-overlay"></div>
        <div class="expandable-content">
          <h2 class="expandable-title">{% trans "Caring Universities" %}</h2>
          <p class="expandable-description">
            {% trans "Am lucrat cu studenți care se confruntau cu depresie, anxietate sau dificultăți de procrastinare, utilizând tehnici de interviu motivațional și concentrându-mă pe construirea unei alianțe terapeutice solide prin ascultare activă și tehnici de oglindire. Am ajutat studenții să identifice gânduri automate și să implementeze strategii de reglare emoțională. Această abordare a fost esențială pentru a le oferi sprijinul necesar în depășirea obstacolelor emoționale și pentru a încuraja un progres semnificativ în gestionarea stresului și îmbunătățirea sănătății mentale" %}
          </p>
        </div>
      </div>
      <!-- Card 4 -->
      <div class="expandable-item">
        <div class="expandable-background" style="background-image: url('{% static 'images/small/card4.webp' %}')"></div>
        <div class="expandable-overlay"></div>
        <div class="expandable-content">
          <h2 class="expandable-title">{% trans "Universitatea Hyperion" %}</h2>
          <p class="expandable-description">{% trans "Am conceput materiale didactice și am predat cursul de psihologie în limba engleză pentru studenții în primul an de licență. Această experiență m-a ajutat să îmi dezvolt abilitățile de a transmite cunoștințele complexe într-un mod accesibil și captivant, contribuind semnificativ la formarea academică a tinerilor studenți. Îmi place să văd cum aceștia evoluează și își aprofundează înțelegerea asupra psihologiei umane" %}</p>
        </div>
      </div>

    </div>
  </section>
</div>
