{# PyschED/core/templates/components/hero-home.html #} {% load static %}
<section class="hero">
  <!-- Background Layer -->
  <div class="hero__background"></div>

  <!-- Overlay Layer -->
  <div class="hero__overlay"></div>

  <!-- Content Layer -->
  <div class="hero__content">
    <h1 class="hero__title">
      În mâinile unui consilier bun, vulnerabilitatea devine o cale către
      rezistenţă
    </h1>
    <button class="hero__button scroll-to-contact">Programează-te</button>
  </div>
</section>
