{# PyschED/core/templates/components/hero.html #}
{% load static %}
<section class="hero">
    <!-- Background Layer -->
    <div class="hero__background"></div>
    
    <!-- Overlay Layer -->
    <div class="hero__overlay"></div>
    
    <!-- Content Layer -->
    <div class="hero__content">
        <h1 class="hero__title">In the hands of a skilled counselor, vulnerability becomes a path to strength</h1>
        <button class="hero__button scroll-to-contact">Programeaza-te</button>
    </div>
</section>
