{# PyschED/core/templates/components/wide-cards-services.html #} {% load static %}
<section class="wide-cards">
  <article class="wide-card">
    <div class="wide-card__background"></div>
    <div class="wide-card__content">
      <div class="wide-card__text">
        <h2 class="wide-card__title">Terapie Individuală</h2>
        <p class="wide-card__description">
          Un spațiu sigur și confidențial unde poți gestiona problemele personale și emoționale, dezvoltând strategii
          eficiente de coping. Această formă de terapie îți oferă oportunitatea de a explora diverse aspecte ale vieții
          tale într-un mediu suportiv, ajutându-te să înțelegi mai bine originea dificultăților și să lucrezi activ
          pentru îmbunătățirea stării tale de bine. Este un proces colaborativ, centrat pe nevoile individuale, care
          încurajează creșterea personală și rezolvarea constructivă a conflictelor interioare
        </p>
      </div>
    </div>
  </article>

  <article class="wide-card">
    <div class="wide-card__background"></div>
    <div class="wide-card__content">
      <div class="wide-card__text">
        <h2 class="wide-card__title">Evaluări Clinice</h2>
        <p class="wide-card__description">
          Evaluări detaliate pentru înțelegerea provocărilor psihologice, cu recomandări precise și planuri de tratament
          adaptate. Aceste evaluări sunt esențiale pentru diagnosticarea corectă și personalizată, oferind o bază solidă
          pentru intervenții terapeutice eficiente. Prin utilizarea unor metode și instrumente validate, specialistul
          poate identifica nevoile specifice ale fiecărei persoane, facilitând astfel elaborarea unui plan de tratament
          optimizat și orientat către rezultate concrete și ameliorarea simptomelor
        </p>
      </div>
    </div>
  </article>
  <article class="wide-card">
    <div class="wide-card__background"></div>
    <div class="wide-card__content">
      <div class="wide-card__text">
        <h2 class="wide-card__title">Consiliere Vocațională</h2>
        <p class="wide-card__description">
          Descoperirea carierei ideale și dezvoltarea abilităților pentru succes, cu un plan personalizat pe baza
          talentelor tale. Acest proces te ajută să navighezi prin posibilele opțiuni de carieră și să identifici drumul
          profesional care se potrivește cel mai bine cu interesele și competențele tale personale. Consilierul
          vocațional utilizează diverse tehnici de evaluare pentru a clarifica aptitudinile și preferințele, oferindu-ți
          astfel suportul necesar pentru a lua decizii informate și a stabili obiective de carieră realiste și
          realizabile
        </p>
      </div>
    </div>
  </article>
  <article class="wide-card">
    <div class="wide-card__background"></div>
    <div class="wide-card__content">
      <div class="wide-card__text">
        <h2 class="wide-card__title">Consiliere Educațională</h2>
        <p class="wide-card__description">
          Suport pentru aplicații la universități în străinătate, dezvoltarea portofoliului academic și orientare
          educațională. Acest serviciu este esențial pentru studenții care aspiră să studieze în afara țării,
          oferindu-le ghidare în complexul proces de selecție și admitere. Consilierul educațional ajută la structurarea
          unui portofoliu impresionant, pregătirea documentației necesare și formularea unor aplicații convingătoare. De
          asemenea, oferă consiliere continuă pentru a naviga prin provocările sistemelor educaționale internaționale și
          pentru a maximiza șansele de succes
        </p>
      </div>
    </div>
  </article>
  <article class="wide-card">
    <div class="wide-card__background"></div>
    <div class="wide-card__content">
      <div class="wide-card__text">
        <h2 class="wide-card__title">Dezvoltare Personală</h2>
        <p class="wide-card__description">
          Programe personalizate pentru creșterea stimei de sine, gestionarea stresului și îmbunătățirea relațiilor
          interpersonale. Aceste programe sunt concepute pentru a te ajuta să îți descoperi și să îți valorifici
          potențialul maxim, oferind strategii adaptate nevoilor tale individuale. Fie că este vorba de depășirea
          anxietăților, îmbunătățirea comunicării în relațiile personale sau profesionale, sau dezvoltarea unui
          sentiment de bine și încredere în sine, consilierul îți va oferi suport constant și metode eficiente de
          auto-îmbunătățire. Aceste abordări te vor echipa cu uneltele necesare pentru a face față provocărilor
          cotidiene și pentru a trăi o viață echilibrată și împlinită
        </p>
      </div>
    </div>
  </article>
</section>
