@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;400i;700i&display=swap');

:root {
    --primary-color: #89acc9;
    --secondary-color: #e7cfd2;
    --background-light: #f5eee6;
    --heading-color: #2c3e50;
    --paragraph-color: #596275;
    --accent-color: #6a9e9f;
    --shadow-small: 0 4px 15px rgba(0, 0, 0, 0.1);
    --shadow-large: 0 6px 20px rgba(0, 0, 0, 0.15);
    --transition-standard: 0.3s ease;
}

